<!-- 
---
layout: shell of application
title:  BikeStore Application
extra_css: "product.css"
---
-->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-0 pr-3" href="#">Bike Store MS</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="setCurrentView('Customers')" routerLink="/customers"
          routerLinkActive="active">Customers <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="setCurrentView('Orders')" href="javascript:(void);">Orders</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown-products" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Manage Products</a>
        <div class="dropdown-menu" aria-labelledby="dropdown-products">
          <a class="dropdown-item" (click)="setCurrentView('Product MS')" href="javascript:(void);">Products</a>
          <a class="dropdown-item" (click)="setCurrentView('Brand MS')" href="javascript:(void);">Brands</a>
          <a class="dropdown-item" (click)="setCurrentView('Order MS')" href="javascript:(void);">Stocks</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown-sales" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Manage Sales</a>
        <div class="dropdown-menu" aria-labelledby="dropdown-sales">
          <a class="dropdown-item" (click)="setCurrentView('Order Items MS')" href="javascript:(void);">Order Items</a>
          <a class="dropdown-item" (click)="setCurrentView('Staff MS')" href="javascript:(void);">Staffs</a>
          <a class="dropdown-item" (click)="setCurrentView('Stores MS')" href="javascript:(void);">Stores</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="setCurrentView('Dashboard')" href="javascript:(void);">Admin Dashboard</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
