<div>
  <h1>
    Customer Details
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>

<div class="row pt-1">
  <div class="col-12">
    <table class="table table-sm mat-elevation-z8">
      <thead>
        <tr class="d-flex">
          <th class="col-2">First Name</th>
          <th class="col-2">Last Name</th>
          <th class="col-1">Phone</th>
          <th class="col-2">Email</th>
          <th class="col-2">Street</th>
          <th class="col-2">City</th>
          <th class="col-1">State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers" class="d-flex">
          <td class="col-2">{{c.firstName}}</td>
          <td class="col-2">{{c.lastName}}</td>
          <td class="col-1">{{c.phone}}</td>
          <td class="col-2">{{c.email}}</td>
          <td class="col-2">{{c.street}}</td>
          <td class="col-2">{{c.city}}</td>
          <td class="col-1">{{c.state}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
