<!-- <app-spinner *ngIf="showSpinner" [message]="msg"></app-spinner> -->
<section>
  <!--  [hidden]="showSpinner" -->
  <div class="h2 d-md-flex justify-content-center pt-2 pb-2">
    Customer Information
  </div>

  <div class="row pt-1">
    <div class="table-responsive">
      <!--  <table class="table table-sm mat-elevation-z8">
      <thead>
        <tr>
          <th>Details</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers"> 
          <td><i class="fa fa-plus-square" aria-hidden="true"></i></td>
          <td>{{c.firstName}}</td>
          <td>{{c.lastName}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.email}}</td>
          <td>{{c.street}}</td>
          <td>{{c.city}}</td>
          <td>{{c.state}}</td>
        </tr>
      </tbody>
    </table> -->


    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" *ngIf="element.orders?.data.length"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">  

                <!-- <mat-form-field>
                <input matInput placeholder="Input">
              </mat-form-field> -->


                <table mat-table [dataSource]="element.orders">
                  <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
                    <th mat-header-cell *matHeaderCellDef> {{innerColumn}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                </table>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          [class.example-element-row]="element.orders?.data.length"
          [class.example-expanded-row]="expandedElement === element" (click)="toggleRow(element)">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

   <!--  <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef class="h3"> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>


  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <table mat-table [dataSource]="element.orders">
            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
              <th mat-header-cell *matHeaderCellDef> {{innerColumn}} </th>
              <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
          </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="h2"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>  --> 


      <!-- <pre>
    {{customerData | json}}
  </pre>  -->
    </div>
  </div>
</section>
<!-- <div id="cover">LOADING</div> -->